/* src/components/Homepage/ProjectList/ProjectList.module.css */
.projectListContainer {
    overflow-x: auto;
    white-space: nowrap;
    padding: 16px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    scrollbar-width: none; /* For Firefox */

}

.projectListContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.projectListContainer .ant-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.projectListContainer .ant-col {
    flex: 0 0 15%;
    max-width: 15%;
}
