.authPage {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    width: 50%;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.shiftRight {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.shiftLeft {
    transform: translateX(-100%); /* Adjust translation for the register view */
    transition: transform 0.3s ease-in-out;
}

.toggleButton {
    margin-top: 20px;
}

.formContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    background-color: var(--background-color); /* Add any general background color */
}

.formCard {
    border: none;
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    width: 100%;
}

.googleButton {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: bold;
}

.formOr {
    margin: 20px 0;
    font-size: 14px;
    color: black;
}

.forgotPassword {
    text-align: center;
    color: var(--primary-color);
    cursor: pointer;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: white !important;
    font-size: 3rem !important;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 20px 0;
    width: 70%;
    font-size: 1.3rem;
}

.toggleButton {
    border-radius: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 25px 20px;
    width: 200px;
    font-weight: 350;

}

.toggleButton:hover {
    background-color: white !important;
    color: var(--primary-color) !important;
}

.ant-input {
    padding: 10px !important;
}

.ant-btn {
    border-radius: 40px;
}

.ant-btn-primary {
    background-color: var(--primary-color);
    color: black;
    border-radius: 40px;
}

.ant-form-item {
    background-color: var(--secondary-color);
}

.formTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    width: 100%;
    padding: 20px;
    color: var(--gradient-colors);
    background: var(--gradient-colors);
    -webkit-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
}
.formItem{
    color: black !important;
    padding: 10px !important;
}
.confirmButton{
    border-radius: 40px !important;
    background-color: var(--primary-color) !important;
    color: white !important;
    font-size: medium;
    padding: 20px 30px!important;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
