@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.section {
    background-color: var(--background-transparent);
    padding: 80px 20px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: 'Oswald', sans-serif;
        background: var(--gradient-colors);
        -webkit-background-clip: text;
        /*background-clip: text;*/
        -webkit-text-fill-color: transparent;
        color: var(--primary-color);
        font-size: 40px;
        padding: 10px 20px;
        text-align: left;
        margin: 0 0 20px;
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #37796F;
        width: 80%;
        font-size: 20px;
        line-height: 1.6;
        margin: 0 0 30px;
        text-align: left;
    }
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
    }

    .content {
        h2 {
            font-family: "Oswald", sans-serif;
            font-size: 28px;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
        }
    }
}