@import "@/styles/global.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
.section1{
    position: relative;
    justify-content: center;
    height: 50vh;
    background: transparent;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.leftSection {
    width: 50%;
    background-color: transparent;
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textContainer{
    height: 50%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: normal;
    padding: 5px;
    background: var(--gradient-colors);
    -webkit-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
    color: var(--primary-color);
}

.titleIcon {
    width: auto;
    height: 4rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.titleIcon:hover {
    transform: rotate(15deg) scale(1.1);
    cursor: pointer;
}

.description {
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    height: 50%;
    font-size: 1.8rem;
    text-align: left;
    line-height: 1;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    margin: 2rem 0px;
}

.rightSection {
    width: 50%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
}

.backgroundImage {
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.overlayImage {
    padding: 10px;
    position: absolute;
    inset: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}