/* post.module.css */
.container {
    background-color: white;
    border-radius: 40px;
    padding: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.avatar {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorName {
    font-weight: 600;
}

.time {
    font-size: 0.875rem;
    color: #6B7280;
}

.content {
    margin-bottom: 1rem;
}

.text {
    color: black;
    margin-bottom: 1rem;
}

.image {
    width: 100%;
    max-width: 50%;
    border-radius: 0.5rem;
    @media (max-width: 768px) {
        /*display: block;*/
        /*margin: auto;*/
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    box-shadow: none;
}

.actionCount {
    font-size: 0.875rem;
    color: #6B7280;
}
.actionButton:hover{
    background-color: white;
}

.likeActive {
    color: #EF4444;
}

.commentActive{
    color: #65f470;
}

.repostActive {
    color: #3B82F6;
}

.actionIcon {
    color: #6B7280;
}
/* Add these styles to your post.module.css file */

.commentToggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px auto;
    color: #1890ff;
    transition: all 0.3s ease;
}

.commentToggleButton:hover {
    background: #e6f7ff;
}

.commentToggleIcon {
    margin-right: 8px;
}

.bottomToggle {
    margin-top: 16px;
}

.commentSection {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    scroll-margin-top: 20px;
}

.commentSectionExpanded {
    border-top: 0.5px solid #f0f0f0;
    max-height: none;
    overflow: visible;
    transition: max-height 0.3s ease;
    margin-top: 16px;
    padding-bottom: 16px;
}
.deleteButton {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.deleteButton:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.deleteIcon {
    color: #ff4d4f;
}