body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}

/* src/Blockly/index.css */
/*.ant-layout-content.css-dev-only-do-not-override-apn68 {*/
/*    text-align: left !important;*/
/*    line-height: initial !important;*/
/*}*/
