/* LearningPlatform.module.css */
.container {
    min-height: 100vh;
    background-color: #f9fafb; /* gray-50 */
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logoText {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color)
}

.menu {
    display: flex;
    gap: 1rem;
}

.menuItem {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #4b5563; /* gray-600 */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuItem:hover,
.active {
    background-color: #e0f4eb; /* green-50 */
    color: #10b981; /* green-600 */
}

.mainContent {
    padding: 2rem;
}

.content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.courseCard,
.assignmentCard,
.gradeCard,
.profileCard {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
}
.courseCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.assignmentCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .assignmentInfor{
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        gap: 10px
    }
}
.courseTitle,
.assignmentTitle {
    font-size: 1.125rem;
    font-weight: bold;
}

.courseContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.imageBackground{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.courseDescription,
.dueDate,
.comments,
.gradeAssignment,
.profileName,
.profileEmail {
    font-size: 0.875rem;
    color: #6b7280; /* gray-500 */
}

.lessons {
    font-weight: bold;
    color: var(--primary-color);
}

.status {
    padding: 0.25rem 0.75rem;
    background-color: #fef3c7; /* yellow-100 */
    color: #d97706; /* yellow-600 */
    border-radius: 10px;
    padding: 10px 20px;
    height: fit-content;
}
.confirmButton{
    background-color: var(--secondary-color);
}
.confirmButton:hover {
    background-color: var(--primary-color)!important;
}
