@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.section {
    background-color: var(--background-transparent);
    padding: 0px 10px 80px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    h2 {
        margin: 0;
        font-family: 'Oswald', sans-serif;
        color: #37796F;
        font-size: 36px;
        margin-bottom: 40px;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: normal;
    padding: 5px;
    background: var(--gradient-colors);
    -webkit-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
    color: var(--primary-color);
}

.scrollContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scrollContent {
    display: flex;
    animation: scroll 30s linear infinite;
    gap: 20px;
}

.schoolCard {
    background: white;
    border-radius: 20px;
    padding: 20px;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.schoolLogo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.schoolName {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #37796F;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .container {
        h2 {
            font-size: 28px;
        }
    }

    .schoolCard {
        min-width: 180px;
        padding: 15px;
    }
}
